.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    width: 100%;
}

.link{
    color: white;
    font-size: 28px;
    text-decoration: none;

}

.link:hover{
font-size: 34px;
text-decoration: underline;

}